@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E5E4E2;

}

/* --------header------ */
nav {
  position: fixed;
  width: 100%;
  padding: 10px 120px;
  background-color: #E5E4E2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #5F6A6A ;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.hideOnMobile{
  font-size: 17.5px;
  text-transform: uppercase;
}
.logo {
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
  margin-left: -15px;
}
.logo a{
  color: #2471A3;
}
.sidebar .logo{
  margin-left: auto;
}
.sidebar li:not(.logo) {
  margin-left: 23px;
}
.site{
  margin-right: -15px;
}
.closeIcon{
  margin: 15px;
  font-size: 25px;
  color: #717D7E;
}
.menuIcon{
  margin: 15px;
  font-size: 25px;
  color: #dbd8cf;
}

nav ul li:nth-last-child(2) {
  margin-left: auto;
}

.User .Dropdown li:last-child {
  margin-right: 0; 
}
.picLogo{
height: 25px;
width: 25px;
}
.sidebar .Dropdown{
  font-size: 13px;
  display: block;
  width: 260px;
  background: #9b9b9b;
  position: absolute;
  z-index: 999;
  display: none;
  margin-left: -23px;
}
.Dropdown{
  font-size: 13px;
  display: block;
  width: 260px;
  background: #9b9b9b;
  position: absolute;
  z-index: 999;
  display: none;
}

.User:hover .Dropdown{
  display: block;
}
.sidebar li{
  text-transform: uppercase;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 1245px) {
  .hideOnMobile{
      padding: 0 10px;
      font-size: 13px;
  }
  .sidebar{
      display: none;
  }
}

@media (max-width: 1016px) {
  nav{
    padding: 10px 0px;
  }
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
    margin-left: auto; /* Move menu button to the right */
  }

  .logo {
    margin-left: 0; 
    margin-right: auto; 
    font-size: 27px; 
  }

  nav ul li:last-child {
    margin-right: 0; 
    margin-left: auto; 
  }

  .sidebar {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 500px) {
  .sidebar {
      width: 100%;
  }
}

/* --------footer--------*/
footer {
  width: 100%;
  background: #E5E4E2;
  margin-top: auto;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.newsletter{
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
}
.newsletter p {
  margin: 20px 0px 0px 0px;
  color: #5F6A6A;
  font-size: 30px;
  font-weight: bolder;
}
.newsletter .newsletterP{
  font-size: 18px;
  color: #5F6A6A;
  font-weight: 50;
  margin: 0;
}

form {
  margin: 20px 0px 0px 0px;
  display: flex;
  gap: 5px;
}
input::placeholder {
  color: #5F6A6A;
}

footer input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 300px;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #717D7E;
  color: #5F6A6A;
  padding-left: 10px;
}

form button {
  height: 40px;
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 50px 300px 60px 120px;
}

.footer-row > *:first-child {
    margin-right: 4rem;
}

.footer-row > *:not(:first-child) {
    margin-left: 2rem;
}
.footer-col:first-child {
  font-size: 35px; 
  font-weight: bolder;
  color: #2471A3;
} 

.footer-row .footer-col h4 {
  color: #5F6A6A;
  font-size: 20px;
  font-weight: 900;
}

.footer-col .links {
  margin-top: 32px;
}

.footer-col .links li {
  list-style: none;
  font-size: 17px;
  margin-bottom: 12px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #5F6A6A;
}

.footer-col .links li a:hover {
  color: #5F6A6A;
}
.footer .social li {
  margin-top: 5px;
}
.footer-col {
  color: #5F6A6A;
}
.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
}


.footer-lastrow {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px 10px 120px;
}
.footer-lastcol{
  display: flex;
  gap: 1.5rem;
  font-size: 25px;
  margin-left: 5px;
}
.footer-lastcol a {
  color: #5F6A6A;
}
.footer-lastcol2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5F6A6A;
  font-size: 16px;
  font-weight:100;
}
.social{
  display: none;
}
@media (max-width: 1016px) {
  .newsletter{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 15px;
  }
  input::placeholder {
    font-size: 14px; 
  }

  footer .footer-row {
    padding: 0px;
    margin: 30px 0 0 15px;
    flex-direction: column; 
    gap: 20px;
  }
  .footer-col .links {
    margin-top: 10px;
  }
  .footer-lastrow {
    padding: 0;
    margin: 30px 0 0 15px;
    flex-direction: column;
    gap: 5px; 
  }
  .footer-lastcol2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #5F6A6A;
    font-size: 16px;
    font-weight: 100;
    margin: 0 0 10px 28px;
  }
  
}
/* userlogin */
.userLoginContainer{
  display: flex;
  padding: 60px 0 60px 40px;
}
.userLoginFormContainer{
  margin-left: 20px;
  background-color: #F2F3F4;
  padding: 30px;
  border-radius: 4px;
  width: 360px;
}
.userLoginForm, .registerForm{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: auto;
}
.userLoginForm input, .registerForm input{
  height: 40px;
  width: 300px;
  border-radius: 4px;
  border: none;
  border: 1px solid black;
  background-color: #F2F3F4;
  padding: 10px;
}
.rememberForgot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.rememberForgot input{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.rememberForgot label{
  display: flex;
  align-items: center;
  gap: 5px;
}
.loginIllustration{
  width: 720px;
  height: 450px;
  margin: -18px 0 0 -35px;
}
.userLoginContainer button,.registerForm button{
  height: 40px;
  margin-top: 30px;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.LoginRegisterTop{
  padding: 0 120px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 65px;
  display: flex;
  align-items: center;
}
.changeSite{
  padding: 0 0 5px 225px;
}
.registerContainer{
  display: flex;
  padding: 60px 0 60px 120px;
}
.userRegisterFormContainer{
  background-color: #F2F3F4;
  padding: 30px;
  border-radius: 4px;
  width: 360px;
}
.rchangeSite{
  padding: 0 0 5px 205px;
}
.registerIllustration{
  width: 820px;
  height: 480px;
  margin: 20px 0 0 0px;
}
.finishSignForm{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 500px;
}
.finishSignContainer{
  padding: 60px 135px 60px 135px;
}
.password-container{
  display: flex;
  align-items: center;
}
.password-container input{
  width: 100%;
  outline: none;
  position: relative;
}
.password-toggle-icon{
  position: absolute;
  right: 1080px;
  cursor: pointer;
  padding-top: 5px;
}
.error-message{
  color: red ;
  font-size: 13px;
}
#inputError{
  border: 1px solid red;
}
.userpassword-toggle-icon{
  position: absolute;
  right: 455px;
  cursor: pointer;
  padding-top: 5px;
}