@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E5E4E2;

}

/* --------header------ */
nav {
  position: fixed;
  width: 100%;
  padding: 10px 120px;
  background-color: #E5E4E2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #5F6A6A ;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.hideOnMobile{
  font-size: 17.5px;
  text-transform: uppercase;
}
.logoUser{
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
  color: #2471A3;
}
.logoAdmin{
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
  color: #34495E;
}
.logo{
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
  color: #2471A3;
  margin-left: -15px;
}
.logo a{
  color: #2471A3;
}
.sidebar .logo{
  margin-left: auto;
}
.sidebar li:not(.logo) {
  margin-left: 23px;
}
.site{
  margin-right: -15px;
}
.closeIcon{
  margin: 15px;
  font-size: 25px;
  color: #717D7E;
}
.menuIcon{
  margin: 15px;
  font-size: 25px;
  color: #dbd8cf;
}

nav ul li:nth-last-child(2) {
  margin-left: auto;
}

.User .Dropdown li:last-child {
  margin-right: 0; 
}
.picLogo{
height: 25px;
width: 25px;
}
.sidebar .Dropdown{
  font-size: 13px;
  display: block;
  width: 260px;
  background: #9b9b9b;
  position: absolute;
  z-index: 999;
  display: none;
  margin-left: -23px;
}
.Dropdown{
  font-size: 13px;
  display: block;
  width: 260px;
  background: #9b9b9b;
  position: absolute;
  z-index: 999;
  display: none;
}

.User:hover .Dropdown{
  display: block;
}
.sidebar li{
  text-transform: uppercase;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 1245px) {
  .hideOnMobile{
      padding: 0 10px;
      font-size: 13px;
  }
  .sidebar{
      display: none;
  }
}

@media (max-width: 1016px) {
  nav{
    padding: 10px 0px;
  }
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
    margin-left: auto; /* Move menu button to the right */
  }

  .logo {
    margin-left: 0; 
    margin-right: auto; 
    font-size: 27px; 
  }

  nav ul li:last-child {
    margin-right: 0; 
    margin-left: auto; 
  }

  .sidebar {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 500px) {
  .sidebar {
      width: 100%;
  }
}

/* --------footer--------*/
footer {
  width: 100%;
  background: #E5E4E2;
  margin-top: auto;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.newsletter{
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
}
.newsletter p {
  margin: 20px 0px 0px 0px;
  color: #5F6A6A;
  font-size: 30px;
  font-weight: bolder;
}
.newsletter .newsletterP{
  font-size: 18px;
  color: #5F6A6A;
  font-weight: 50;
  margin: 0;
}

form {
  margin: 20px 0px 0px 0px;
  display: flex;
  gap: 5px;
}
input::placeholder {
  color: #5F6A6A;
}

footer input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 300px;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #717D7E;
  color: #5F6A6A;
  padding-left: 10px;
}

form button {
  height: 40px;
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 50px 300px 60px 120px;
}

.footer-row > *:first-child {
    margin-right: 4rem;
}

.footer-row > *:not(:first-child) {
    margin-left: 2rem;
}
.footer-col:first-child {
  font-size: 35px; 
  font-weight: bolder;
  color: #2471A3;
} 

.footer-row .footer-col h4 {
  color: #5F6A6A;
  font-size: 20px;
  font-weight: 900;
}

.footer-col .links {
  margin-top: 32px;
}

.footer-col .links li {
  list-style: none;
  font-size: 17px;
  margin-bottom: 12px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #5F6A6A;
}

.footer-col .links li a:hover {
  color: #5F6A6A;
}
.footer .social li {
  margin-top: 5px;
}
.footer-col {
  color: #5F6A6A;
}
.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
}


.footer-lastrow {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 10px 120px;
}
.footer-lastcol{
  display: flex;
  gap: 1.5rem;
  font-size: 25px;
  margin-left: 5px;
}
.footer-lastcol a {
  color: #5F6A6A;
}
.footer-lastcol2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5F6A6A;
  font-size: 16px;
  font-weight:100;
}
.social{
  display: none;
}
@media (max-width: 1016px) {
  .newsletter{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 15px;
  }
  input::placeholder {
    font-size: 14px; 
  }

  footer .footer-row {
    padding: 0px;
    margin: 30px 0 0 15px;
    flex-direction: column; 
    gap: 20px;
  }
  .footer-col .links {
    margin-top: 10px;
  }
  .footer-lastrow {
    padding: 0;
    margin: 30px 0 0 41px;
    flex-direction: column;
    gap: 5px; 
  }
  .footer-lastcol2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #5F6A6A;
    font-size: 16px;
    font-weight: 100;
    margin: 0 0 0 5px;
  }
  
}
/* jobSearch */
.jobContainer{
  padding-top: 70px;
  min-height: 100vh;
}
.searchBar{
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(111.5deg, rgb(187, 232, 255) 11.1%, rgb(4, 78, 116) 107.5%);
  gap: 10px;
  margin-top: 0px;
}
.searchBar input {
  height: 48px;
  border: none; 
  border-radius: 10px;
  background: #EAF2F8;
  width: 560px;
  padding: 15px;
}
.searchBar input::placeholder{
  color: black;
  font-size: 16px;
}

.searchInput {
  position: relative;
}

.searchInput .searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.filterBox{
  position: relative;
  padding: 15px;
  display: flex;
  width: 140px;
  justify-content: space-between;
  height: 48px;
  border-radius: 10px;
  background-color: #EAF2F8;
  align-items: center;
  cursor: pointer;
}
.internBox{
  padding: 15px;
  display: flex;
  width: 140px;
  justify-content: space-between;
  height: 48px;
  border-radius: 10px;
  background-color: #EAF2F8;
  align-items: center;
  cursor: pointer;
}
.searchIcon{
  font-size: 25px;
}
.seekBtn{
  padding: 10px;
  display: flex;
  width: 100px;
  justify-content: space-between;
  height: 48px;
  border-radius: 10px;
  background-color: #EAF2F8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.allJob{
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 5px;
}
.allJob::-webkit-scrollbar {
  display: none;
}
.showJob{
  padding: 20px 120px;
  display: flex;
  gap: 56px;
}
.jobQty{
  display: flex;
  width: 433px;
  justify-content: space-between;
  padding: 0 0 15px 1px;
  color: #5F6A6A;
}
.showJob .allJob .jobList{
  height: 133px;
  width: 433px;
  border: 1px solid #B2BABB;
  border-radius: 4px;
  padding: 15px;
}
.jobLogo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: contain;
}
.jobListTop{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.jobListTop h4{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}
.jobListTop .icon{
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 20px;
}
.jobListBottom{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.jobList{
  font-size: 14px;
}
.jobDetails{
  width: 790px;
  border: 1px solid #B2BABB;
  border-radius: 4px;
  max-height: 850px;
  position: sticky;
  top: 70px; 
  height: calc(100vh - 70px); 
  display: flex;
  flex-direction: column;
}
.jobScroll{
  overflow-y: auto;
  padding: 32px 32px 0 32px;
  height: auto;
}
.jobDetails .jobLogo{
  height: 40px;
  width: 40px;
}
.jobDetailsBox{
  display: flex;
  gap: 10px;
  align-items: center;
}
.benefitsBox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.viewJob{
  text-decoration: underline;
  text-underline-offset: 4px;
}
.jobDetailTittle{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}
.btn1{
  width: 32px;
  height: 32px;
  padding: 4px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  background-color: #E5E4E2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn2{
  width: 60px;
  height: 40px;
  padding: 8px 14px;
  font-size: 22px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn3{
  width: auto;
  height: 40px;
  padding: 12px 16px;
  color: #E5E4E2;
  background-color: #2471A3;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minimalistInformation{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0 0 0;
}
.showJob h3{
  font-size: 20px;
  padding: 15px 0;
}
.btn4{
  width: auto;
  height: 40px;
  padding: 12px 0px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #E5E4E2;
  display: flex;
  align-items: center;
  font-weight: 550;
  margin-top: 10px;
}
.companyInfoBox img{
  height: 40px;
}
.companyInfoBox h4{
  font-size: 16px;
  padding: 15px 0 10px 0;
}
.companyInfoBox .jobDetailsBox{
  gap: 30px;
  padding-bottom: 15px;
}
.companyDetails{
  display: flex;
}
.companyInfoBox{
  padding: 30px;
  border: solid 1px #B2BABB;
  border-radius: 20px;
  margin-bottom: 20px;
}
.companyInfoBox span{
  line-height: 1.3;
}
.show{
  text-decoration: underline;
  text-underline-offset: 3px;
  display: flex;
  align-items: center;
}
.jobDetailBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-top: solid 1px #B2BABB;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}
.jobDetailBottom .btn2{
  width: 96px;
}
.jobScroll::-webkit-scrollbar {
  width: 8px;
}
.jobScroll::-webkit-scrollbar-thumb {
  background: #C0C0C0;;
  border-radius: 4px;
  height: 10px;
}
.DropdownJob {
  font-size: 13px;
  margin-left: -15px;
  width: 368px;
  padding: 0 20px;
  background: #EAF2F8;
  position: absolute;
  top: calc(100% + 10px); 
  list-style: none;
  z-index: 100;
  border: solid 1px black; 
  border-radius: 20px;
  font-size: 16px;
  display: none;
}
.DropdownJob li {
  border: solid 1px #9b9b9b;
  border-radius: 50px;
  height: 45px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  margin: 15px 0;
  justify-content: space-between;
}
.searchBar .apply{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.searchBarButton{
  height: 36px;
  width: 120px;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2471A3;
  color: white;
}
.searchBarCancelButton{
  height: 36px;
  width: 120px;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CCD1D1;
  color: white;
}
.select{
  margin-left: auto;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.jobTList, .stateList, .experienceList, .SpecializationList, .salary{
  border: solid 1px #9b9b9b;
  border-radius: 20px;
  padding: 5px ;
  width: 326.4px;
  height: auto;
  display: none;
}
.salary{
  margin: 15px 0;
  padding: 0 20px;
}
.salaryInput{
  width: 100px;
  border: solid 1px #9b9b9b;
}
.jobTList li, .stateList li, .experienceList li, .SpecializationList li{
  border: none;
  margin: 15px 0;
  height: auto;
}
.jobT, .State, .experience, .Specialization{
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
  padding: 0 0 0 25px;
}
.stateContent{
  max-height: 180px;
  overflow-y: auto;
  margin: 0 -5px 0 0;
}
.stateContent::-webkit-scrollbar{
  width: 5px;
}
.stateContent::-webkit-scrollbar-thumb {
  background: #C0C0C0;;
  border-radius: 4px;
}


/* userlogin */
.userLoginContainer{
  display: flex;
  padding: 60px 0 60px 40px;
}
.userLoginFormContainer{
  margin-left: 20px;
  background-color: #F2F3F4;
  padding: 30px;
  border-radius: 4px;
  width: 360px;
}
.userLoginForm, .registerForm{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: auto;
}
.userLoginForm input, .registerForm input{
  height: 40px;
  width: 300px;
  border-radius: 4px;
  border: none;
  border: 1px solid black;
  background-color: #F2F3F4;
  padding: 10px;
}
.rememberForgot{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5px;
}
.rememberForgot input{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.checkPolicy input{
  margin-top: 2px;
  height: 18px;
  width: 18px;
  border-radius: 10px;
}
.rememberForgot label{
  display: flex;
  align-items: center;
  gap: 5px;
}
.userLoginContainer button,.registerForm button{
  height: 40px;
  margin-top: 30px;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.LoginRegisterTop{
  padding: 0 120px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 65px;
  display: flex;
  align-items: center;
}
.AdminRegisterTop {
  padding: 0 25px;
  background-color: #F2F3F4;
  box-shadow: 0px 80px 30px rgba(0, 0, 0, 0.5); /* Adjusted box shadow */
  height: 65px;
  display: flex;
  align-items: center;
}


.changeSite{
  padding: 0 0 5px 225px;
}
.registerContainer{
  display: flex;
  padding: 60px 0 60px 120px;
}
.userRegisterFormContainer{
  background-color: #F2F3F4;
  padding: 30px;
  border-radius: 4px;
  width: 360px;
}
.rchangeSite{
  padding: 0 0 5px 205px;
}
.finishSignForm{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 500px;
}
.finishSignContainer{
  padding: 60px 135px 60px 120px;
  display: flex;
}
.password-container{
  display: flex;
  align-items: center;
}
.password-container input{
  width: 100%;
  outline: none;
  position: relative;
}
.password-toggle-icon{
  position: absolute;
  right: 1080px;
  cursor: pointer;
  padding-top: 5px;
}
.error-message{
  color: red ;
  font-size: 13px;
}
#inputError{
  border: 1px solid red;
}
.userpassword-toggle-icon{
  position: absolute;
  right: 455px;
  cursor: pointer;
  padding-top: 5px;
}
.adminpassword-toggle-icon{
  position: absolute;
  right: 630px;
  cursor: pointer;
  padding-top: 5px;
}
.form-control.custom-phone-input{
 width: 100%;
 border: 1px solid black;
 height: 40px;
 border-radius: 4px;
}
/* mainPage */
.userProfileTop{
  background-image: linear-gradient(111.5deg, rgb(187, 232, 255) 11.1%, rgb(4, 78, 116) 107.5%);
  margin-top: 70px;
  height: 180px;
}
.addrole{
  z-index: 2000;
}
.profile{
  background-image: linear-gradient(111.5deg, rgb(187, 232, 255) 11.1%, rgb(4, 78, 116) 107.5%);
  padding: 20px;
  border-radius: 16px;
  width: 520px;
  justify-content: space-between;
}

.companySearch{
  background-image: linear-gradient(111.5deg, rgb(187, 232, 255) 11.1%, rgb(4, 78, 116) 107.5%);
}
/* styles.css */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 740px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.Emploader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #EC407A;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 740px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.Adminloader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #34495E;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 740px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.page-enter {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.employerLogo{
  font-size: 35px; 
  font-weight: bolder;
  color: #EC407A ;
}
.empLogo{
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
  color: #EC407A;
  margin-left: -15px;
}
.empLogo a{
  color: #EC407A;
}
.sidebar .empLogo{
  margin-left: auto;
}
.sidebar li:not(.empLogo) {
  margin-left: 23px;
}
.logoEmp{
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
  color: #EC407A;
}
.companyCover {
  height: 170px;
  width: 100%;
  background-image: linear-gradient(111.5deg, rgb(252, 228, 236) 11.1%, rgb(236, 64, 122) 107.5%);
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
}
.userInformation{
  background-image: linear-gradient(111.5deg, rgb(252, 228, 236) 11.1%, rgb(236, 64, 122) 107.5%);
}

.companyCover .content {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 180px;
  width: 180px;
}
.companyContent{
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.1);
}
.progressbar{
	position: relative;
	overflow: hidden;
	width: 280px;
	height: 19px;
	border-radius: 15px;
	background-color: #eee;
}
.adminContainer{
  background-image: linear-gradient(111.5deg, rgb(235, 237, 239) 11.1%, rgb(52, 73, 94) 107.5%);
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
}

th, td {
  border-right: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #34495E   ;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.application {
  width: 100%;
  border-collapse: collapse;
}


.application td {
  padding: 8px 12px;
  border-bottom: 1px solid #CCD1D1 ;
  border-left: none; 
  border-right: none; 
}
.application th{
  padding: 8px 12px;
  border-top: 1px solid #CCD1D1 ;
  border-bottom: 1px solid #424949 ;
  border-left: none; 
  border-right: none; 
}

.application th {
  font-weight: bold;
}

.application tr:hover {
  background-color: #f1f1f1;
}

.application td {
  vertical-align: middle;
}
.scroll::-webkit-scrollbar{
  width: 6px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #C0C0C0;;
  border-radius: 4px;
}
.appScroll::-webkit-scrollbar{
  width: 10px;
}
.appScroll::-webkit-scrollbar-thumb {
  background: #C0C0C0;;
  border-radius: 4px;
}
.checkPolicy{
  width:20px;
  height: 20px;
}
.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.delete-message{
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;

}
.shadow-bottom {
  box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.1)
}
