.profilediv
{
    height: 88vh;
    justify-content: center;
    text-align: left;
    padding: 0px;
    background-color: rgba(167, 167, 167, 0.24);
    font-family: Arial, Helvetica, sans-serif;
}

.color
{
    height:15vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(89, 0, 255) , rgb(231, 29, 238));
}


.mainbox
{
    border: 2px solid rgb(255, 255, 255);
    width: 80%;
    height: 87vh;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.bio
{   
    height: 59vh;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.names
{
display: flex;
width: 50vw;
margin-left: 19.2%;
font-size: 14px;
}

.namebox
{
    text-align: center;

}

input{
   
    width: 20%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

button
{
    height: 30px;
    width: 145px;
    border-radius: 10px;
    
}